{
    "exclude": ["node_modules/**"],
    "presets": [
        ["@babel/env", {
            "modules": false,
            "targets": {
                "browsers": "ie >= 9"
            }
        }]
    ]
}
